@media (min-width: 1200px) {
    .text__paragraph.text__paragraph--large {
      
      transform: translate(36%, 57%);
    }
  
    .popit-banner__image {
      width: 40vw;
    }
    
    .game-rules__caption {
        transform: translate(6%, -309%);
        width: 50vw;

    }

    
  .game-rules__image2 {
    width: 28vw;
    transform: translate(202%, -172%);
}
.text__paragraph.text__paragraph--small {
    transform: translate(40%, 207%);
}
.game-rules__title {
    transform: translate(10%, 479%);
}
  
}

/* Tablets (entre 768px y 991px) */
@media (min-width: 768px) and (max-width: 991px) {

    .site-header {
        margin: -1px;
    }

    .nav__menu {
        transform: translate(131%, -72%);
    }
  
    .text__paragraph.text__paragraph--large {
      font-size: 3.5rem;
      text-align: center;
      margin: 10px;
      transform: translate(-52%, 30%);
    }
  
    .text__paragraph.text__paragraph--small {
        width: 36vw;
        transform: translate(-41%, -10%);
        font-size: small;
    }
    .popit-info {
        height: 28vh;
    }
    .popit-info__text {
        font-size: small;
    }
    .popit-banner {
      flex-direction: column;
      align-items: center;
    }
  
    .popit-banner__image {
        width: 46vw;
        height: 36vh;
        margin-right: -32vw;
        margin-top: -21vw;
    }
  
    .popit-selection__items {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  
    .popit-selection__image {
      width: 30vw;
    }
  
    .game-rules__image1 {
      width: 80vw;
      transform: translate(7%, -23%);
      margin: 0 auto;
    }
    .game-rules__image2 {
        transform: translate(259%, -230%);
        width: 25vw;
    }
    .game-rules__caption {
        width: 58vw;
        transform: translate(8%, -255%);
        
        font-size: small;
    }
    .game-rules__title {
        transform: translate(13%, 96%);
        position: relative;
        z-index: 20;
    }
    .popit-selection__figure.popit-selection__figure--square{
        display: block;
    }
    .popit-selection__figure.popit-selection__figure--amongus{
        display: block;
    }
    .popit-selection__figure.popit-selection__figure--round{
        display: block;
    }
    .site-footer {
        height: 8vh;
    }
  }
  @media (max-width: 576px) {
    .nav__home {
        
        font-size: 11px;
        transform: translate(7%, 27%);
    }
    .nav__menu {
        display: flex;
        justify-content: space-evenly;
        font-size: 11px;
        transform: translate(119%, -72%);
        width: 45vw;
    }
    .text__paragraph.text__paragraph--large {

        font-size: 2.5rem;
        margin: 16px 2px;
        z-index: 4;
        transform: translate(37%, 43%);
    }
    .text__paragraph.text__paragraph--small {
        
        transform: translate(40%, -16%);
        font-size: small;

    }
    .popit-banner__image {
        height: 38vh;
    }
    .popit-info {
        height: 44vh;
    }
    .popit-info__text {
        font-size: small;
    }
    .popit-selection{
        display: flex;
    }
    .popit-selection {
        display: block;
    }
    .popit-selection__items {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        text-align: center;
    }
}


  @media (min-width: 577px) and (max-width: 767px)  {
    
    .text__paragraph.text__paragraph--large {
        font-size: 2.8rem;
        transform: translate(37%, 47%);
      }
      .text__paragraph.text__paragraph--small {

        transform: translate(44%, -11%);
        
    }
    .popit-info {
        height: 33vh;
    }
    .game-rules__image1 {
        transform: translate(7%, -23%);
      }
      .game-rules__image2 {
        width: 26vw;
        transform: translate(234%, -234%);
    }
    .game-rules__caption {
        transform: translate(16%, -201%);
        width: 50vw;
        font-size: small;
    }
    .game-rules__title {
        width: 30vw;
        transform: translate(26%, 126%);
        position: relative;
        z-index: 4;
    }
    .popit-selection__figure.popit-selection__figure--square{
        display: block;
    }
    .popit-selection__figure.popit-selection__figure--amongus{
        display: block;
    }
    .popit-selection__figure.popit-selection__figure--round{
        display: block;
    }
    
  }